.container {
  display: flex;
  justify-content: center; /* Yatayda ortalar */
  align-items: center; /* Dikeyde ortalar */
  height: 100vh; /* Tam ekran yüksekliği */
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center; /* Butonu yatayda ortalar */
  width: 100%; /* Butonun genişliğini otomatik yapar */
  padding: 10px 20px; /* Butonun içindeki metni biraz büyütür */
}

form {
  border: 3px solid green; /* Kırmızı çerçeve */
  border-radius: 20px; /* Kenarları yuvarlatmak için */
  padding: 80px; /* İçerikle çerçeve arasında boşluk */
}

.box {
  margin: 5px; /* Varsayılan olarak her kutunun etrafındaki boşluğu azalt */
  padding: 10px; /* Eğer kutu içindeki boşluğu da ayarlamak istersen */
}
